<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Analyst Result</title>
</head>

<body class="analyst-body">
    <div class="analyst-container">
        <h1>According to your answers, you are a </h1>
        <h2><strong>analyst</strong> person!</h2>
        <p class="analyst-description">You love to dive into a complex problem and pull it apart in every way until the 
            answer’s found. You’re known for being extremely analytical and prefer to deal with 
            work linearly, in sequential order—finishing one thing before starting another. 
            Because you’re motivated by data and the accuracy of it, you are very process-
            oriented and prefer to take time to reflect on new ideas and thoughts.</p>
    </div>

    <div class="analyst-flex-container row">
        <div class="analyst-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <li>Brings forth research driven information to better inform the team’s decision;</li>
                <li>Meticulous for getting down to the hard facts of a situation, rather than rely on 
                    guesswork or assumptions;</li>
                <li>Observant of details that others may overlook.</li>
            </ul>
        </div>

        <div class="analyst-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <li>Autonomous (plenty of downtime to focus independently);</li>
                <li>Routine (meetings that happen the same day every week, tasks are made into 
                    habits, etc.);</li>
                <li>Quiet (ability to focus and hear one’s thoughts easier).</li>
            </ul>
        </div>
    </div>

    <div class="analyst-flex-container">
        <div class="analyst-box">
            <h3>Watch out for:</h3>
            <ul>
                <li>Overanalyzing a situation and losing time because of it; difficulty getting into 
                    action (analysis paralysis!);</li>
                <li>Being overcritical of yourself, but also of others’ words and actions (especially 
                    if they fall out of your domain);</li>
                <li>Fearful of being wrong and ignoring any criticism as a result.</li>
            </ul>
        </div>
    </div>

    <input type="submit" class="analyst-input" value="Next form" onclick="location.href='/decisionForm'">
</body>

</html>