<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Making Analytical</title>
</head>

<body class="decision-body">
    <div class="decision-container">
        <h1>Else, your decision-make style is the </h1>
        <h2><strong>analytical</strong> style!</h2>
    </div>

    <div class="decision-flex-container row">
        <div class="decision-box">
            <h3>Analytical = task/technical (solution-oriented) + ambiguity (propensity to prefer flexibility)</h3>
            <ul>
                <li>Committed to finding the best answer</li>
                <li>Enjoys problem solving</li>
                <li>Comfortable with large amounts of information and data</li>
                <li>Innovative</li>
                <li>Thrives on control</li>
                <li>Will take as long as needed to find the best option</li>
                <li>Enjoys variety and new challenges</li>
            </ul>
        </div>

        
        <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
</body>

</html>