<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Making Conceptual</title>
</head>

    <body class="decision-body">
        <div class="decision-container">
            <h1>Else, your decision-make style is the </h1>
            <h2><strong>conceptual</strong> style!</h2>
        </div>

        <div class="decision-flex-container row">
            <div class="decision-box">
                <h3>Conceptual = people/social (motivation) + ambiguity (propensity to prefer flexibility)</h3>
                <ul>
                    <li>Achievement oriented</li>
                    <li>Creative</li>
                    <li>Confortable with “What ifs”</li>
                    <li>Generally openminded with a broad outlook</li>
                    <li>Humanitarian/conscious of how decision will affect others</li>
                    <li>Thinks in the future</li>
                    <li>Enjoys coming up with new ideas</li>
                </ul>
            </div>

            <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
</body>
</html>