<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/styles/pages/conformist.css">
    <title>Conformist Result</title>
</head>

<body class="results-body">
    <div class="results-container">
        <h1>According to your answers, you are a </h1>
        <h2><strong>conformist</strong> person!</h2>
        <p class="results-description">You are a person, who likes to follow the rules and accepted procedures to avoid
            inner and outer conflict. You probably tend to be quite cooperative working within your immediate team, but
            you seem to be less cooperative in the bigger team environment. Because of the conflict avoidance feature,
            you don’t really like to receive feedback from your colleagues, try to avoid negativity and might have
            troubles expressing your disagreement openly.</p>
    </div>

    <div class="results-flex-container row">
        <div class="results-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <li>Reliability in the matter of things running smoothly and according to plan</li>
                <li>Easily accept and agree on ideas suggested by others, no confrontation.</li>
                <li>Good in 'getting things done'</li>
            </ul>
        </div>

        <div class="results-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <li>Small groups of people, who you already trust</li>
                <li>Stable and predictable (project with measurable outcome and steady progression)</li>
            </ul>
        </div>
    </div>

    <div class="results-flex-container">
        <div class="results-box">
            <h3>Watch out for:</h3>
            <ul>
                <li>Problems with being flexible;</li>
                <li>Dependence on the opinion of others;</li>
                <li>Holding on and suppressing your disagreement;</li>
            </ul>
        </div>
    </div>

    <input type="submit" class="results-input" value="Next form" onclick="location.href='/decisionForm'">
</body>

</html>