<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decision Making Directive</title>
</head>

    <body class="decision-body">
        <div class="decision-container">
            <h1>Else, your decision-make style is the </h1>
            <h2><strong>directive</strong> style!</h2>
        </div>

        <div class="decision-flex-container row">
            <div class="decision-box">
                <h3>Directive = task/technical (solution-oriented) + ambiguity (propensity to prefer flexibility)</h3>
                <ul>
                    <li>Driven by results</li>
                    <li>Relies primarily on rules and processes</li>
                    <li>Aggressive nature</li>
                    <li>Prefers to make decisions alone</li>
                    <li>Intuitive nature</li>
                    <li>Typically reacts quickly and doesn't like to dwell on decisions</li>
                    <li>Strong verbal communicator</li>
                    <li>Informs people once a decision is made</li>
                </ul>
            </div>

            <input type="submit" class="decision-input" value="Return to profile" onclick="location.href='/profile'">
</body>
</html>