<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    
    <title>Conformist Result</title>
</head>

<body class="results-body">
    <div class="results-container">
        <h1>According to your answers, you are a </h1>
        <h2><strong>director</strong> person!</h2>
        <p class="results-description">Every group can benefit from a Director. You’re often seen as the leader and 
            decision maker and one who initiates discussions often (since you’re more than 
            comfortable with voicing your thoughts). Because you’re motivated by tangible 
            results and hitting milestones on time and on budget, you have a natural gift for 
            taking charge and seeing responsibilities through.
    </div>

    <div class="results-flex-container row">
        <div class="results-box">
            <h3>Strengths in a team settings:</h3>
            <ul>
                <li>Establishing order at the start of a project or during times of uncertainty.</li>
                <li>Ability to be influential and motivating.</li>
                <li>Delineating team roles and responsibilities and helping to structure the team’s
                    tasks.</li>
            </ul>
        </div>

        <div class="results-box">
            <h3>Environment you work best in:</h3>
            <ul>
                <li>Fast-paced/agile (work happens quickly and continuously with minimal 
                    interruption in between)</li>
                <li>Structured (work is well-documented and scheduled)</li>
                <li>Efficient (team is able to do more in less time)</li>
            </ul>
        </div>
    </div>

    <div class="results-flex-container">
        <div class="results-box">
            <h3>Watch out for:</h3>
            <ul>
                <li>Overshadowing your peers with speaking on behalf or over others.</li>
                <li>Dominating a conversation.</li>
                <li>Having requests come across as demanding</li>
            </ul>
        </div>
    </div>

    <input type="submit" class="results-input" value="Next form" onclick="location.href='/decisionForm'">
</body>

</html>