<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body class="test-body">
  <h1 class="test-h1">Test Routes</h1>
  <div class="test-button-container">
    <button onclick="location.href='/homepage'">Home</button>
    <button onclick="location.href='/profile'">Profile</button>
    <button onclick="location.href='/login'">Login</button>
    <button onclick="location.href='/signup'">Sign up</button>
  </div>
</body>
</html>
